
<section class="stats">
    <div>
       <h2>Vida:</h2>
    <span class="health" *ngIf="vidaPokemon > 0" style="color: red; font-size: 2em;">❤</span>
    <span class="health" *ngIf="vidaPokemon > 20" style="color: red; font-size: 2em;">❤</span>
    <span class="health" *ngIf="vidaPokemon > 40" style="color: red; font-size: 2em;">❤</span>
    <span class="health" *ngIf="vidaPokemon > 60" style="color: red; font-size: 2em;">❤</span>
    <span class="health" *ngIf="vidaPokemon > 80" style="color: red; font-size: 2em;">❤</span>
   
    <div class="stats-details">
   </div>
       <h2>Ataque: ⚡☇✨</h2>
       <h2>Defensa: 40</h2>
       
       <div class="element electric">
           <h2 >Tipo:  <img [src]="imagen" alt="Electrico.png"></h2>
          
       </div>
      </div>
   
   
   </section>
   